Debug
/Release
/x64
/bin
/CSharp_Use_CPP/bin
/CSharp_Use_CPP/obj
/MarketInfoSys/*
/MarketInfoSys/*
/Stork_Future_TaoLi/*
/Stork_Future_TaoLi/*
/TraderBassClass/*
/TraderBassClass/*
/STYClass/STYClass/*
/STYClass/STYClass/*
/TraderBassClass/TraderBassClass/*
/TraderBassClass/TraderBassClass/*
/TraderBassClass/TraderBassClass/*
/STYClass/STYClass/Release
/STYClass/STYClass/Debug
/Stork_Future_TaoLi.sdf
/Stork_Future_TaoLi.sln
/System.Transactions.pdb
/System.Web.Extensions.pdb
/System.Web.pdb
/System.Workflow.ComponentModel.pdb
/System.Xml.pdb
/System.Activities.pdb
/System.Data.Entity.pdb
/System.EnterpriseServices.pdb
/System.EnterpriseServices.Wrapper.pdb
/System.pdb
/System.ServiceModel.Internals.pdb
/Microsoft.Build.Tasks.v4.0.pdb
/Microsoft.CSharp.pdb
/Microsoft.JScript.pdb
/mscorlib.pdb
/Stork_Future_TaoLi.sdf
/Stork_Future_TaoLi.sdf

/ConsoleApplication1
/Stork_Future_TaoLi/Web.Debug.config
/Stork_Future_TaoLi/Web.Release.config
/Stork_Future_TaoLi/Web.config
