@{
    ViewBag.Title = "ChangePassword";
}

<h2>修改用户密码</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group col-sm-12">
                <h3><span class="label label-info">原始密码</span></h3>
                <input type="text" class="form-control" id="oldPassword" />
            </div>
            <div class="input-group col-sm-12">
                <h3><span class="label label-info">新密码</span></h3>
                <input type="text" class="form-control" id="newPassword" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="col-sm-12">
        <button class="btn btn-primary" id="btnRegist">提交</button>
    </div>
</div>
