@{
    ViewBag.Title = "EditWeightAndTradeList";
}

<h2>参数编辑和处理</h2>


<div class="container-fluid">
    <div id="danger-alert_1" class="alert alert-danger" role="alert" >由于交易手数设置错误，导致本页面显示错误，加载失败！</div>
    <div id="danger-alert_2" class="alert alert-danger" role="alert">@ViewBag.ERROR</div>
    <div id="content">
        <div class="col-md-12">
            <span id="hd_value" class="sr-only">@ViewBag.HD</span>
            <button id="btnViewList" class="btn btn-success">预览交易列表</button>
            <button id="btnSubmit" class="btn btn-info">确认交易列表</button>
            <span class="sr-only" id="strategyID">@ViewBag.ID</span>
        </div>
        <div class="row" style="margin-top:40px">
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <textarea id="weightList" placeholder="请将权重文件粘贴至此后编辑" style="max-width:1000px;width:inherit;height:500px"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <textarea id="tradeOrder" placeholder="权重文件和手数确认后，可通过计算在此预览并修改交易列表" style="max-width:1000px;width:inherit;height:500px"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
