@{
    ViewBag.Title = "Main";
}

<h2>银极在线交易系统</h2>
<div class="col-lg-12">
    <br />
    <br />
</div>
<div name="mainpage_usermanage" class="col-lg-12">
    <button id="mainpage_btn_user" class="btn btn-primary btn-block" type="submit"><span style="font-size:xx-large">用户管理</span></button>
</div>
<div name="mainpage_usermanage"  class="col-lg-12">
    <br />
    <br />
</div>
<div name="mainpage_userinfo" class="col-lg-12">
    <button id="mainpage_btn_changePW" class="btn btn-primary btn-block" type="submit"><span style="font-size:xx-large">账户管理</span></button>
</div>
<div name="mainpage_userinfo" class="col-lg-12" >
    <br />
    <br />
</div>
<div name="mainpage_strategy" class="col-lg-12">
    <button id="mainpage_btn_taoli" class="btn btn-success btn-block" type="submit"><span style="font-size:xx-large">策略交易</span></button>
</div>
<div name="mainpage_strategy" class="col-lg-12">
    <br />
    <br />
</div>
<div name="mainpage_trade" class="col-lg-12">
    <button id="mainpage_btn_trade" class="btn btn-default btn-block" type="submit"><span style="font-size:xx-large">交易平台</span></button>
</div>
<div name="mainpage_trade" class="col-lg-12">
    <br />
    <br />
</div>
<div name="mainpage_riskcontrol" class="col-lg-12">
    <button id="mainpage_btn_risk" class="btn btn-danger btn-block" type="submit"><span style="font-size:xx-large">风险控制</span></button>
</div>
<div name="mainpage_riskcontrol" class="col-lg-12">
    <br />
    <br />
</div>
<div name="mainpage_sysstatus" class="col-lg-12">
    <button id="mainpage_btn_sysStatus" class="btn btn-warning btn-block" type="submit"><span style="font-size:xx-large">系统状态</span></button>
</div>
<div name="mainpage_sysstatus" class="col-lg-12">
    <br />
    <br />
</div>
<div name="mainpage_account" class="col-lg-12">
    <button id="mainpage_btn_accountInfo" class="btn btn-info btn-block" type="submit"><span style="font-size:xx-large">账户信息</span></button>
</div>
<div name="mainpage_account" class="col-lg-12">
    <br />
    <br />
</div>