@{
    ViewBag.Title = "MonitorConsole";
}

<h2>MonitorConsole</h2>
<div class="container-fluid">
    <div class="col-lg-6">
        <p>开仓档位</p>
        <div class="col-lg-3">
            <div class="input-lg">
                <span>CT</span>
                <input class="form-control" type="text" placeholder="CT" />
            </div>

        </div>
        <div class="col-lg-3">
            <div class="input-lg">
                <span>HD</span>
                <input class="form-control" type="text" placeholder="HD" />
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <p>平仓档位</p>
    </div>
</div>