@{
    ViewBag.Title = "RiskControl";
}

<h2>风控参数</h2>

<div class="row">
    <br />
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <p>参数设置</p>

        <div class="col-md-2">
            <span>敞口比例：</span>
            <input id="changkouRadio" type="text" placeholder="0">
        </div>
        <div class="col-md-2">
            <span>风险度限制：</span>
            <input id="riskLevel" type="text" placeholder="0">
        </div>
        <div class="col-md-2">
            <span>单只股票所占总资产比例：</span>
            <input id="PerStockCostPercentage" type="text" placeholder="0">
        </div>
        <div class="col-md-2">
            <span>单只基金所占资产比例：</span>
            <input id="PerFundCostPercentage" type="text" placeholder="0">
        </div>
        <div class="col-md-2">
            <span>股票市值所占总资产比例：</span>
            <input id="stockRadio" type="text" placeholder="0">
        </div>
    </div>
</div>
<div class="row">
    <br />
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <p>股票白名单</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>代码</th>
                    <th>流通股</th>
                    <th>控比</th>
                    <th>总股本</th>
                    <th>控比</th>
                </tr>
            </thead>
            <tbody id="white_list_body"></tbody>
        </table>
    </div>

    <div class="row">
        <br />
        <br />
    </div>

    <div class="col-md-12">
        <p>风控参数</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>用户</th>
                    <th>股票剩余资金</th>
                    <th>股票冻结资金量</th>
                    <th>股票总盈亏</th>
                    <th>股票市值</th>
                    <th>股票成本</th>
                    <th>期货可用资金</th>
                    <th>期货权益</th>
                    <th>期货风险度</th>
                    <th>敞口比例</th>
                </tr>
            </thead>
            <tbody id="risk_list_body">
                
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin:0 auto">
    <br />
    <br />
    <div class="col-md-3 col-md-push-9">
        <button type="button" class="btn btn-primary" id="riskinfo_refresh">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>
        <button id="riskpage_submit" type="button" class="btn btn-primary" style="margin:auto">提交修改</button>
    </div>
</div>
