@{
    ViewBag.Title = "RiskControl";
}

<h2>风控参数</h2>

<div class="container-fluid">
    <div class="col-md-6">
        <div class="col-md-6">
            <p>股票白名单</p>
            <div class="col-md-12">
                <textarea id="whiteList" placeholder="白名单列表" style="max-width:1000px;width:inherit;height:500px"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <p>股票黑名单</p>
            <div class="col-md-12">
                <textarea id="blackList" placeholder="黑名单列表" style="max-width:1000px;width:inherit;height:500px"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <p>持仓列表</p>
    </div>
    <div class="col-md-3">
        <div class="col-md-12">
            <p>仓位管理</p>
        </div>
        <div class="col-md-12">
            <p>参数设置</p>
        </div>
    </div>
</div>