@{
    ViewBag.Title = "登陆";
}

<h2>银极资产管理有限公司</h2>


<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading" style="text-align:center">欢迎登录</h2>
        <input type="text" class="form-control" id="login_user"  placeholder="用户名" required autofocus />
        <input type="password" class="form-control" id="login_password" placeholder="密码" required />
        <button  class="btn btn-lg btn-primary btn-block" type="button" id="login_btnLogin" >登录</button>
    </form>
</div>