@{
    ViewBag.Title = "用户管理";
}



<div class="container-fluid">

    <h2><span class="label label-primary">新用户注册</span></h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="input-group col-sm-12">
                <h3><span class="label label-info">用户名</span></h3>
                <input type="text" class="form-control" id="sysregister_Username" />
            </div>
            <div class="input-group col-sm-12">
                <h3><span class="label label-info">密码</span></h3>
                <input type="text" class="form-control" id="sysregister_Password" />
            </div>
            <div class="input-group col-sm-12">
                <h3><span class="label label-info">真实姓名</span></h3>
                <input type="text" class="form-control" id="sysregister_Realname" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group col-sm-12">
                <h3><span class="label label-info">股票可用资金</span></h3>
                <input type="text" class="form-control" id="sysregister_StockAccount" />
            </div>
            <div class="input-group col-sm-12">
                <h3><span class="label label-info">期货可用资金</span></h3>
                <input type="text" class="form-control" id="sysregister_FutureAccount" />
            </div>
            <div class="input-group col-sm-12">
                <h3><span class="label label-info">权限</span></h3>
                <br />
                <input type="radio" name="sysregister_right" style="margin-left:20px" value="1" /><span class="label label-success" style="font-size:large">管理员</span>
                <input type="radio" name="sysregister_right" style="margin-left:20px" value="2" /><span class="label label-success" style="font-size:large">交易员</span>
                <input type="radio" name="sysregister_right" style="margin-left:20px" value="3" /><span class="label label-success" style="font-size:large">审计员</span>
            </div>
        </div>
        <div>
            <br />
            <br />
        </div>
        <div class="col-ms-12">
            <button class="btn btn-default btn-block" id="sysRegister_btnRegist">确认添加</button>
        </div>
    </div>

    <div>
        <br />
    </div>

    <h2><span class="label label-primary">修改密码</span></h2>

    <div class="row">
        <br />
        <div class="input-group col-sm-12 col-sm-push-3">
            <h3><span class="label label-info">用户名</span></h3>
            <input type="text" class="form-control" id="sysregister_name" />
        </div>
        <div class="input-group col-sm-12 col-sm-push-3">
            <h3><span class="label label-info">原密码</span></h3>
            <input type="text" class="form-control" id="sysregister_oldpassword" />
        </div>
        <div class="input-group col-sm-12 col-sm-push-3">
            <h3><span class="label label-info">新密码</span></h3>
            <input type="text" class="form-control" id="sysregister_newpassword" />
        </div>
        <br />
        <br />
        <div class="col-ms-12">
            <button class="btn btn-default  btn-block" id="sysRegister_btnChangePassword">确认修改</button>
        </div>
    </div>
</div> 
