@{
    ViewBag.Title = "交易控制台";
}

<h2 style="text-align:center;margin-bottom:20px;font-size: xx-large" ><b>交易操作台</b></h2>
<hr />
<div class="container">
    <div class="col-md-12" >
        <div class="col-md-4">
            <div class="col-md-12 form-inline">
                交易类型：&nbsp;&nbsp;
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioType" id="tm_radio_stock" value="S" checked>
                        股票
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioType" id="tm_radio_future" value="F">
                        期货
                    </label>
                </div>
                <div class="radio-inline disabled">
                    <label>
                        <input type="radio" name="RadioType" id="tm_radio_index" value="I" disabled>
                        指数
                    </label>
                </div>
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                合约代码：&nbsp;&nbsp;
                <input type="text" class="form-control" id="tm_input_code" placeholder="交易代码" />
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                买卖：  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="radio-inline">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" name="RadioDirection" id="tm_radio_buy" value="0" checked/>
                        买入
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioDirection" id="tm_radio_sell" value="1" />
                        卖出
                    </label>
                </div>
            </div>
            <div class="col-md-12 form-inline open_close_panel" style="margin-top:5px">
                开平：  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="radio-inline">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" name="RadioMark" id="tm_radio_open" value="0" checked />
                        开仓
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioMark" id="tm_radio_close" value="1" />
                        平仓
                    </label>
                </div>
            </div>
            <div class="col-md-12 form-inline exchange_select_panel" style="margin-top:5px">
                交易所：&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="radio-inline">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" name="ExchangeID" id="tm_radio_SH" value="SH" checked />
                        上交所
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="ExchangeID" id="tm_radio_SZ" value="SZ" />
                        深交所
                    </label>
                </div>
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                手数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="tm_input_volume" placeholder="手数" />
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                指定价：&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="tm_input_price" placeholder="交易价格" />
            </div>
            <div class="col-md-12">
                <button class="btn btn-success" type="submit" id="tm_btnMakeOrder">下单</button>
            </div>
        </div>
        <div class="col-md-8 table-responsive">
            <table class="table table-striped table-hover " >
                <thead>
                    <tr>
                        <th>系统号</th>
                        <th>报单编号</th>
                        <th>合约/代码</th>
                        <th>买卖</th>
                        <th>开平</th>
                        <th>报单手数</th>
                        <th>未成交手数</th>
                        <th>报单价格</th>
                        <th>报单状态</th>
                        <th>报单时间</th>
                    </tr>
                </thead>
                <tbody id="tm_tb_inComplete" style="overflow-y:scroll;height:300px;position:relative"></tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="col-md-12" style="margin-top:10px">
        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <!--持仓列表-->
                <thead>
                    <tr>
                        <th>合约/代码</th>
                        <th>买卖</th>
                        <th>总持仓</th>
                        <th>持仓均价</th>
                        <th>持仓盈亏</th>
                    </tr>
                </thead>
                <tbody id="tm_tb_position"></tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <!--成交记录-->
                <thead>
                    <tr>
                        <th>系统号</th>
                        <th>成交编号</th>
                        <th>合约/代码</th>
                        <th>买卖</th>
                        <th>开平</th>
                        <th>成交价格</th>
                        <th>成交手数</th>
                        <th>报单编号</th>
                    </tr>
                </thead>
                <tbody id="tm_tb_tradeRecord"></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:10px">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>代码</th>
                        <th>手数</th>
                        <th>价格</th>
                        <th>方向</th>
                        <th>时间</th>
                        <th>用户</th>
                        <th>策略号</th>
                        <th>风控信息</th>
                    </tr>
                </thead>
                <tbody id="tm_tb_risk"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
<!--Script references. -->
<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            var chat = $.connection.tradeMonitorHub;
            //更新委托列表
            chat.client.updateOrderList = function (jsonString) {

                var length = $("[name='entrust_item_info']").length;

                while (length > 0) {
                    var tr = $("[name='entrust_item_info']")[0];

                    tr.remove();

                    length = $("[name='entrust_item_info']").length;
                }



                var _orders = eval('(' + jsonString + ')');

                for (var i = 0; i < _orders.length; i++) {

                    if (i == 10)
                        break;

                    var _order = eval('(' + _orders[i] + ')');
                    $('#tm_tb_inComplete').append('<tr name="risk_item_info"><td>' + _entrust.sysNo + '</td><td>' + _entrust.entrustNo + '</td><td>' + _entrust.contract + '</td><td>' + _entrust.direction + '</td><td>' + _entrust.offsetflag + '</td><td>' + _entrust.amount + '</td><td>' + _entrust.undealamount + '</td><td>' + _entrust.price + '</td><td>' + _entrust.status + '</td><td>' + _entrust.time + '</td></tr>');
                }


            };

            //更新交易列表
            chat.client.updateTradeList = function (jsonString) {
                var _trade = eval('(' + jsonString + ')');

                var _orderRef = _trade.OrderRef;
                var _tradeID = _trade.TradeID;
                var _code = _trade.Code;
                var _direction = _trade.Direction;
                var _combOff = _trade.CombOff;
                var _price = _trade.Price;
                var _volume = _trade.Volume;
                var _orderSysId = _trade.OrderSysID;

                var newRow = "<tr><td>" + _orderRef + "</td><td>" + _tradeID + "</td><td>" + _code + "</td><td>" + _direction + "</td><td>" + _combOff + "</td><td>" + _price + "</td><td>" + _volume + "</td><td>" + _orderSysId + "</td></tr>";
                $('#tm_tb_tradeRecord').append(newRow);
            };


            //更新风控信息列表
            chat.client.updateRiskList = function (jsonString) {

                var length = $("[name='risk_item_info']").length;

                while (length > 0)
                {
                    var tr = $("[name='risk_item_info']")[0];

                    tr.remove();

                    length = $("[name='risk_item_info']").length;
                }

                var _risk = eval('(' + jsonString + ')');

                var count = 10;

                if (_risk.length < 10) { count = _risk.length;}

                for (var i = 0; i < count; i++) {
                    var riskitem = _risk[i];
                    $('#tm_tb_risk').append('<tr name="risk_item_info"><td>' + riskitem.code + '</td><td>' + riskitem.hand + '</td><td>' + riskitem.price + '</td><td>' + riskitem.orientation + '</td><td>' + riskitem.time + '</td><td>' + riskitem.user + '</td><td>' + riskitem.strategy + '</td><td>' + riskitem.errinfo + '</td></tr>');
                }
            };

            $.connection.hub.start().done(function () {
                chat.state.USERNAME = localStorage["USERNAME"];
                chat.server.linkin();
            });
        });
    </script>
}