@{
    ViewBag.Title = "交易控制台";
}

<h2 style="text-align:center;margin-bottom:20px;font-size: xx-large" ><b>交易操作台</b></h2>
<hr />
<div class="container">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="col-md-12 form-inline">
                交易类型：&nbsp;&nbsp;
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioType" id="tm_radio_stock" value="0" checked>
                        股票
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioType" id="tm_radio_future" value="1">
                        期货
                    </label>
                </div>
                <div class="radio-inline disabled">
                    <label>
                        <input type="radio" name="RadioType" id="tm_radio_index" value="2" disabled>
                        指数
                    </label>
                </div>
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                合约代码：&nbsp;&nbsp;
                <input type="text" class="form-control" id="tm_input_code" placeholder="交易代码" />
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                买卖：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioDirection" id="tm_radio_buy" value="0" checked/>
                        买入
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioDirection" id="tm_radio_sell" value="1" />
                        卖出
                    </label>
                </div>
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                开平：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioMark" id="tm_radio_open" value="0" checked/>
                        开仓
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="RadioMark" id="tm_radio_close" value="1" />
                        平仓
                    </label>
                </div>
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                手数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="tm_input_volume" placeholder="手数" />
            </div>
            <div class="col-md-12 form-inline" style="margin-top:5px">
                指定价：&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="tm_input_price" placeholder="交易价格" />
            </div>
            <div class="col-md-12">
                <button class="btn btn-success" type="submit" id="tm_btnMakeOrder">下单</button>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>报单编号</th>
                        <th>合约/代码</th>
                        <th>买卖</th>
                        <th>开平</th>
                        <th>报单手数</th>
                        <th>未成交手数</th>
                        <th>报单价格</th>
                        <th>报单时间</th>
                    </tr>
                </thead>
                <tbody id="tm_tb_inComplete"></tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="col-md-12" style="margin-top:10px">
        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <!--持仓列表-->
                <thead>
                    <tr>
                        <th>合约/代码</th>
                        <th>买卖</th>
                        <th>总持仓</th>
                        <th>持仓均价</th>
                        <th>持仓盈亏</th>
                    </tr>
                </thead>
                <tbody id="tm_tb_position"></tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <!--成交记录-->
                <thead>
                    <tr>
                        <th>成交编号</th>
                        <th>合约/代码</th>
                        <th>买卖</th>
                        <th>开平</th>
                        <th>成交价格</th>
                        <th>成交手数</th>
                        <th>报单编号</th>
                    </tr>
                </thead>
                <tbody id="tm_tb_tradeRecord"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
<!--Script references. -->
<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            var chat = $.connection.TradeMonitorHub;
            //更新委托列表
            chat.client.updateOrderList = function (name, jsonString) {

            };

            //更新交易列表
            chat.client.updateTradeList = function (name, jsonString) {

            };

            //更新持仓列表
            chat.client.updatePositionList = function (name, jsonString) {

            };

            $.connection.hub.start().done(function () { });
        });
    </script>
}