@{
    ViewBag.Title = "UserManger";
}

<h2>UserManger</h2>


<h2><span class="label label-primary">修改密码</span></h2>

<div class="row">
    <br />
    <div class="input-group col-sm-12 col-sm-push-3 " style="visibility:hidden" >
        <h3><span class="label label-info">用户名</span></h3>
        <input type="text" class="form-control" id="changePW_name" />
    </div>
    <div class="input-group col-sm-12 col-sm-push-3">
        <h3><span class="label label-info">原密码</span></h3>
        <input type="text" class="form-control" id="changePW_oldpassword" />
    </div>
    <div class="input-group col-sm-12 col-sm-push-3">
        <h3><span class="label label-info">新密码</span></h3>
        <input type="text" class="form-control" id="changePW_newpassword" />
    </div>
    <br />
    <br />
    <div class="col-ms-12">
        <button class="btn btn-default  btn-block" id="changePW_btnChangePassword">确认修改</button>
    </div>
</div>